@import './variables.scss';

.button {
	background-color: $mirra-color;
	border-radius: 10px;
	font-size: 14px;
	color: #fff;
	height: 40px;
	padding: 0 20px;
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	line-height: 40px;
	font-weight: bold;
}


.button.soft {
	background-color: #E0E2EB;
	color: $dark-color;

	a {
		color: $dark-color;
		text-decoration: none;
	}
}

.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 600px) {
	.button {
	//	font-size: 24px;
	//	padding: 0 30px;
	}
}