@import './variables.scss';

.content {
    max-width: 500px;
    margin: 0 auto;
    position: relative;
    min-width: 343px;
    width: 100%;
}

.title {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
}

.subtitle {
    margin: 0;
    font-size: 14px;
}

.button {
    text-decoration: none;
    margin: 16px 0 0 0;
    display: inline-block;
}
.flower {
    position: absolute;
    top: -140px;
    right: -140px;
}