@import './variables.scss';

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $mirra-color;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-family: $styled-font;
    font-size: 24px;
    color: $dark-color;
    margin: 0 0 16px 0;
}

.action {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.link {
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .label {
        margin: 0 16px 0 0;
    }

    .action {
        flex-direction: row;
    }
}