@import './variables.scss'; 

.userBox {
    margin: 90px 16px 30px 16px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userPic {
    width: 32px;
    border-radius: 50%;
    margin-right: 16px;
}

.trackBox {
    max-width: 500px;
    margin: 0 auto 60px auto;
}

.trackPic {
    width: 100%;
}

.trackInfo {
    padding: 16px;
    background-color: #fff;
    display: flex;
}

.trackDetails {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 68px);
}

.track {
    font-weight: bold;
}

.album, .track {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.actions {
    display: flex;
    margin-left: auto;

    img {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.premiumLabel {
    text-align: center;
    font-size: 16px;
}

.offlineBox {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 16px;
        margin: 0 0 32px 0;
    }

    .emptyIcon {
        margin: 0 0 32px 0;
    }
}