/* Reset */
@import-normalize;
@import-sanitize;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,700,700i&display=swap');
$styled-font: 'Ubuntu', sans-serif;
$font-size: 14px;

/* Colors */
$mirra-color: #FF6666;
$bg-color: #F0F1F5;
$dark-color: #424242;

/* Generic */
body {
    min-width: 375px;
    background-color: $bg-color;
    font-family: $styled-font;
    color: $dark-color;
    font-size: 14px;
}