/* Reset */
@import-normalize;
@import-sanitize;

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');
$styled-font: 'Lilita One', cursive;
$font-size: 16px;

/* Colors */
$mirra-color: #F4D58D;
$dark-color: #313131;